<div class="col-md-8 mx-auto">
  <ul class="list-group">
    <!-- <form [formGroup]="turnosForm" (ngSubmit)="onTurno()"></form> -->
    <div>
      <h6>
        Duracion de cada modulo:
        <input
          type="number"
          min="20"
          max="60"
          required
          class="form-control d-inline w-25 mx-1"
          [(ngModel)]="colegioSvc.duracionModulo"
          (blur)="cambiarDuracionModulo()"
        />

        mins

        <button
          [ngStyle]="setMyStyles(colegioSvc.color)"
          class="btn float-end mx-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-info-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
        </button>

        <div class="collapse" id="collapseExample">
          <div class="card card-body mt-3">
            <h6 class="d-inline">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle mb-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
              Los modulos creados son para las clases, de lo contrario se
              consideraran como recreos/horas de almuerzo.
            </h6>
            <br />
            <h6 class="d-inline text-danger">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle mb-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>

              En el caso de cambiar la duracion del modulo se borraran todos los
              modulos creados.
            </h6>
          </div>
        </div>
      </h6>
    </div>

    <table class="table text-center">
      <thead>
        <tr class="table-light">
          <th class="rounded-start" scope="col">Horarios</th>
          <th scope="col"></th>
          <th scope="col">Lunes</th>
          <th scope="col">Martes</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Jueves</th>
          <th class="rounded-end" scope="col">Viernes</th>
        </tr>
      </thead>
      <tbody>
        <ng-container> </ng-container>

        <tr
          *ngIf="colegioSvc.turnoArray[0].habilitado; else mananaDeshabilitado"
        >
          <td colspan="2" class="table-active"></td>
          <td colspan="4" class="table-active">
            TURNO MAÑANA (
            <input
              type="Time"
              min="00:00"
              max="{{ colegioSvc.turnoArray[0].finalizacion }}"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[0].inicio"
              (blur)="completarTurnos(0)"
            />
            <!-- formControlName="inicioMananaModulo"formControlName="finalMananaModulo" -->
            -
            <input
              type="Time"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[0].finalizacion"
              (blur)="completarTurnos(0)"
            />
            )
          </td>
          <td colspan="1" class="table-active">
            <div
              class="form-check form-switch d-inline-block float-end my-3"
              (click)="estadoTurno('manana')"
            >
              <input
                [ngStyle]="setMyStyles(colegioSvc.color)"
                class="form-check-input"
                type="checkbox"
                role="switch"
                checked
              />
            </div>
          </td>
        </tr>
        <ng-template #mananaDeshabilitado>
          <tr>
            <td colspan="2" class="table-active"></td>

            <td colspan="4" class="table-active">
              <label class="my-2"> TURNO MAÑANA ( DESHABILITADO ) </label>
            </td>
            <td colspan="1" class="table-active">
              <div
                class="form-check form-switch d-inline-block float-end my-3"
                (click)="estadoTurno('manana')"
              >
                <input class="form-check-input" type="checkbox" role="switch" />
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- FILA DE CLASE -->
        <tr
          *ngFor="let turno of colegioSvc.turnoArray[0].modulos"
          class="bg-white"
        >
          <td
            colspan="2"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[0].habilitado"
          >
            {{ turno.inicio }} - {{ turno.final }}
          </td>
          <td
            colspan="4"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[0].habilitado"
          >
            <!-- ng-model="colegioSvc.turnoArray[0][turno.tipo]" -->
            <label>{{ turno.tipo }}</label>

            <select
              class="form-select"
              ngModel
              (ngModelChange)="editModulo($event, turno.inicio, 0)"
            >
              <!-- [(ngModel)]="{{turno.tipo}}" -->
              <option value="clase">Clase</option>
              <option value="especial">Especial</option>
            </select>
          </td>
          <td class="bg-light" *ngIf="colegioSvc.turnoArray[0].habilitado">
            <svg
              (click)="deleteModulo('manana', turno)"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
          </td>
        </tr>

        <!-- BOTON ADD MODULO -->
        <tr
          *ngIf="
            this.colegioSvc.duracionModulo >= 20 &&
            this.colegioSvc.duracionModulo <= 60 &&
            colegioSvc.turnoArray[0].inicio != '' &&
            colegioSvc.turnoArray[0].finalizacion != '' &&
            colegioSvc.turnoArray[0].habilitado
          "
        >
          <td colspan="3"></td>
          <td colspan="2">
            <div class="input-group">
              <input
                type="Time"
                class="form-control"
                [(ngModel)]="colegioSvc.inicioModuloSeleccionado[0]"
              />
              <button
                class="btn"
                [ngStyle]="setMyStyles(colegioSvc.color)"
                (click)="addModulo('manana')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>

        <!-- TARDE -->
        <tr></tr>
        <tr
          *ngIf="colegioSvc.turnoArray[1].habilitado; else tardeDeshabilitado"
        >
          <td colspan="2" class="table-active"></td>
          <td colspan="4" class="table-active">
            TURNO TARDE (
            <input
              type="Time"
              min="00:00"
              max="{{ colegioSvc.turnoArray[1].finalizacion }}"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[1].inicio"
              (blur)="completarTurnos(1)"
            />

            <input
              type="Time"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[1].finalizacion"
              (blur)="completarTurnos(1)"
            />
            )
          </td>
          <td colspan="1" class="table-active">
            <div
              class="form-check form-switch d-inline-block float-end my-3"
              (click)="estadoTurno('tarde')"
            >
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                checked
              />
            </div>
          </td>
        </tr>
        <ng-template #tardeDeshabilitado>
          <tr>
            <td colspan="2" class="table-active"></td>

            <td colspan="4" class="table-active">
              <label class="my-2"> TURNO TARDE ( DESHABILITADO ) </label>
            </td>
            <td colspan="1" class="table-active">
              <div
                class="form-check form-switch d-inline-block float-end my-3"
                (click)="estadoTurno('tarde')"
              >
                <input class="form-check-input" type="checkbox" role="switch" />
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- FILA DE CLASE -->

        <tr
          *ngFor="let turno of colegioSvc.turnoArray[1].modulos"
          class="bg-white"
        >
          <td
            colspan="2"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[1].habilitado"
          >
            {{ turno.inicio }} - {{ turno.final }}
          </td>
          <td
            colspan="4"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[1].habilitado"
          >
            <label>{{ turno.tipo }}</label>

            <select
              class="form-select"
              ngModel
              (ngModelChange)="editModulo($event, turno.inicio, 1)"
            >
              <!-- [(ngModel)]="{{turno.tipo}}" -->
              <option value="clase">Clase</option>
              <option value="especial">Especial</option>
            </select>
          </td>
          <td class="bg-light" *ngIf="colegioSvc.turnoArray[1].habilitado">
            <svg
              (click)="deleteModulo('tarde', turno)"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
          </td>
        </tr>

        <!-- BOTON ADD MODULO -->
        <tr
          *ngIf="
            this.colegioSvc.duracionModulo >= 20 &&
            this.colegioSvc.duracionModulo <= 60 &&
            colegioSvc.turnoArray[1].inicio != '' &&
            colegioSvc.turnoArray[1].finalizacion != '' &&
            colegioSvc.turnoArray[1].habilitado
          "
        >
          <td colspan="3"></td>
          <td colspan="2">
            <div class="input-group">
              <input
                type="Time"
                class="form-control"
                [(ngModel)]="colegioSvc.inicioModuloSeleccionado[1]"
              />
              <button
                [ngStyle]="setMyStyles(colegioSvc.color)"
                class="btn"
                (click)="addModulo('tarde')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>

        <!-- NOCHE -->
        <tr
          *ngIf="colegioSvc.turnoArray[2].habilitado; else nocheDeshabilitado"
        >
          <td colspan="2" class="table-active"></td>
          <td colspan="4" class="table-active">
            TURNO NOCHE (
            <input
              type="Time"
              min="00:00"
              max="{{ colegioSvc.turnoArray[2].finalizacion }}"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[2].inicio"
              (blur)="completarTurnos(2)"
            />
            -
            <input
              type="Time"
              required
              class="form-control d-inline w-25 mx-1"
              [(ngModel)]="colegioSvc.turnoArray[2].finalizacion"
              (blur)="completarTurnos(2)"
            />
            )
          </td>
          <td colspan="1" class="table-active">
            <div
              class="form-check form-switch d-inline-block float-end my-3"
              (click)="estadoTurno('noche')"
            >
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                checked
              />
            </div>
          </td>
        </tr>
        <ng-template #nocheDeshabilitado>
          <tr>
            <td colspan="2" class="table-active"></td>

            <td colspan="4" class="table-active">
              <label class="my-2"> TURNO NOCHE ( DESHABILITADO ) </label>
            </td>
            <td colspan="1" class="table-active">
              <div
                class="form-check form-switch d-inline-block float-end my-3"
                (click)="estadoTurno('noche')"
              >
                <input class="form-check-input" type="checkbox" role="switch" />
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- FILA DE CLASE -->

        <tr
          *ngFor="let turno of colegioSvc.turnoArray[2].modulos"
          class="bg-white"
        >
          <td
            colspan="2"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[2].habilitado"
          >
            {{ turno.inicio }} - {{ turno.final }}
          </td>
          <td
            colspan="4"
            class="text-black"
            *ngIf="colegioSvc.turnoArray[2].habilitado"
          >
            <label>{{ turno.tipo }}</label>

            <select
              class="form-select"
              ngModel
              (ngModelChange)="editModulo($event, turno.inicio, 2)"
            >
              <!-- [(ngModel)]="{{turno.tipo}}" -->
              <option value="clase">Clase</option>
              <option value="especial">Especial</option>
            </select>
          </td>
          <td class="bg-light" *ngIf="colegioSvc.turnoArray[2].habilitado">
            <svg
              (click)="deleteModulo('noche', turno)"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
              />
            </svg>
          </td>
        </tr>

        <!-- BOTON ADD MODULO -->
        <tr
          *ngIf="
            this.colegioSvc.duracionModulo >= 20 &&
            this.colegioSvc.duracionModulo <= 60 &&
            colegioSvc.turnoArray[2].inicio != '' &&
            colegioSvc.turnoArray[2].finalizacion != '' &&
            colegioSvc.turnoArray[2].habilitado
          "
        >
          <td colspan="3"></td>
          <td colspan="2">
            <div class="input-group">
              <input
                type="Time"
                class="form-control"
                [(ngModel)]="colegioSvc.inicioModuloSeleccionado[2]"
              />
              <button
                [ngStyle]="setMyStyles(colegioSvc.color)"
                class="btn"
                (click)="addModulo('noche')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ul>
</div>
