<div class="col-md-6 mx-auto my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mt-4" *ngIf="!olvidoConrtrasena">
        INICIAR SESION
      </h1>
      <h1 class="text-center mt-4" *ngIf="olvidoConrtrasena">
        CAMBIAR CONTRASEÑA
      </h1>
      <!-- <div *ngIf="verificado" class="alert alert-light mt-4" role="alert">
        <h6 class="text-danger">Importante</h6>
        - TIENES QUE VERIFICAR TU CUENTA TODAVIA <br />
        - Revisa tu email o presiona
        <a (click)="onSendEmail()" href="/verificacion-email">aqui</a> para que
        te reenviemos un email.
      </div> -->
      <!---->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        *ngIf="!olvidoConrtrasena"
      >
        <div class="form-group mt-4">
          <input
            type="email"
            placeholder="Email"
            required
            class="form-control"
            formControlName="email"
          />
        </div>
        <div class="form-group mt-4">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            required
            formControlName="password"
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg mt-4">
            Iniciar Sesion
          </button>
        </div>
      </form>
      <div
        class="
          d-grid
          gap-2
          d-md-flex
          justify-content-md-startd-grid
          text-center
        "
      >
        <!-- *ngIf="!verificado" -->
        <button
          *ngIf="!olvidoConrtrasena"
          (click)="onGoogleLogin()"
          type="submit"
          class="btn btn-lg btn-outline-danger mt-4"
          style="width: 100%"
        >
          Google
        </button>
      </div>
      <!-- *ngIf="!verificado" -->
      <div class="mt-4" *ngIf="!olvidoConrtrasena">
        <a type="button" class="btn btn-link" style="margin-left: -15px;" (click)="forgotPassword()">
          ¿Olvidaste tu contraseña?
        </a>
        <p>
          <a type="button"  href="/register" class="btn btn-link" style="margin-left: -15px;" >
            ¿No tienes cuenta? Registrate
          </a>
        </p>
      </div>
      <div class="col-md-6 mx-auto">
        <div
          *ngIf="olvidoConrtrasena"
          class="form-group card-body"
          style="text-align: center"
        >
          <input
            type="email"
            placeholder="Ingresar email"
            required
            class="form-control"
            [(ngModel)]="usuarioEmail"
          />
          <button class="btn btn-primary mt-3" (click)="forgotPassword()">
            Pedir cambio de contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
