<div class="col-md-6 mx-auto my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mt-4">REGISTRARSE</h1>
      <div class="alert alert-light mt-4" role="alert">
        <h6 class="text-danger">Importante</h6>
        - La contraseña debe ser mayor a los 5 digitos. <br>
        <!-- - El unico email que aceptamos es el terminante en @gmail.com. -->
        <!-- - Si ya tienes cuenta y aun no estas verificado, dirigite al inicio de sesion y sigue los pasos. -->
        <!-- -Si no accedes a la pagina una vez puesto tu email y contraseña debe ser porque algo esta mal. -->
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="input-group mt-4">
          <input
            type="email"
            placeholder="Email"
            required
            id="email-register"
            class="form-control"
            formControlName="email"
          />
        </div>

        <div class="form-group mt-4">
          <input
            type="password"
            placeholder="Contraseña"
            required
            id="password-register"
            class="form-control"
            formControlName="password"
          />
        </div>
        
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-lg mt-4">
            Registrarse
          </button>
        </div>
      </form>
      <div class="form-group mt-4">
        <p>
          ¿Ya tienes cuenta?
          <a href="/login"> Inicia sesion</a>
        </p>
      </div>
    </div>
  </div>
</div>
