<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mt-2">{{ nombreColegio }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-4 mx-auto">
    <div class="card">
      <!-- <div class="progress" style="height: 20px">
        <div
          *ngIf="turnos == 0"
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 10%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Turnos
        </div>

        <div
          *ngIf="aulas == 0 && turnos != 0"
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Aulas
        </div>

        <div
          *ngIf="cursos == 0 && aulas != 0"
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 43%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Cursos
        </div>

        <div
          *ngIf="profesores == 0 && cursos != 0"
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 63%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Profesores
        </div>

        <div
          *ngIf="materias == 0 && profesores != 0"
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 77%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Materias
        </div>

        <div
          *ngIf="
            turnos != 0 &&
            aulas != 0 &&
            materias != 0 &&
            cursos != 0 &&
            profesores != 0
          "
          id="barraDeProgreso"
          class="progress-bar"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Finalizar
        </div>
      </div> -->

      <div class="card-body">
        <div class="row align-items-end">
          <button [ngClass]="{'btn-primary': botonesCrearColegio == 1}" class="col btn mx-2" (click)="clickeoBotones('turnos')">Turnos</button>
          <button *ngIf="botonesCrearColegioProgreso >= 2 else bloquearBoton"  [ngClass]="{'btn-primary': botonesCrearColegio == 2}" class="col btn me-2" (click)="clickeoBotones('aulas')">Aulas</button>
          <button *ngIf="botonesCrearColegioProgreso >= 3 else bloquearBoton1" [ngClass]="{'btn-primary': botonesCrearColegio == 3}" class="col btn me-2" (click)="clickeoBotones('cursos')">Cursos</button>
          <button *ngIf="botonesCrearColegioProgreso >= 4 else bloquearBoton2" [ngClass]="{'btn-primary': botonesCrearColegio == 4}" class="col btn me-2" (click)="clickeoBotones('profesores')">Profesores</button>
          <button *ngIf="botonesCrearColegioProgreso >= 5 else bloquearBoton3" [ngClass]="{'btn-primary': botonesCrearColegio == 5}" class="col btn me-2" (click)="clickeoBotones('materias')">Materias</button>
          <button *ngIf="botonesCrearColegioProgreso >= 6 else bloquearBoton4" [ngClass]="{'btn-primary': botonesCrearColegio == 6}" class="col btn me-2" (click)="clickeoBotones('finalizar')">Finalizar</button>
        </div>
        <ng-template #bloquearBoton>
          <button class="col btn btn-light me-2 disabled">Aulas</button>
        </ng-template>
        <ng-template #bloquearBoton1>
          <button class="col btn btn-light me-2 disabled">Cursos</button>
        </ng-template>
        <ng-template #bloquearBoton2>
          <button class="col btn btn-light me-2 disabled">Profesores</button>
        </ng-template>
        <ng-template #bloquearBoton3>
          <button class="col btn btn-light me-2 disabled">Materias</button>
        </ng-template>
        <ng-template #bloquearBoton4>
          <button class="col btn btn-light me-2 disabled">Finalizar</button>
        </ng-template>
        
      </div>
    </div>
  </div>
</div>

<!-- turnos == 0 || 
aulas == 0 && turnos != 0 ||
cursos == 0 && aulas != 0 ||
profesores == 0 && cursos != 0 ||
materias == 0 && profesores != 0 || 
turnos != 0 && aulas != 0 && materias != 0 && cursos != 0 && profesores != 0 || -->

<div *ngIf="botonesCrearColegio == 1" class="container mx-auto my-4">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <div class="text-secondary">
        <h6>Duracion de cada modulo: {{ duracionModulo }} min</h6>
      </div>
      <table class="table text-center">
        <thead>
          <tr class="table-dark">
            <th class="rounded-start" scope="col">Horarios</th>
            <th scope="col"></th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th class="rounded-end" scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>

          <!-- MAÑANA -->
          <tr *ngIf="12 >= horaInicial && horaInicial >= 5">
            <td colspan="7" class="table-active">
              TURNO MAÑANA ({{ inicioHorario }} am - 12:00 am)
            </td>
          </tr>
          <tr *ngIf="12 >= horaInicial && horaInicial >= 5" class="bg-dark rounded">
            <ul class="list-group" *ngIf="turnoArray[0].modulos.length > 0">
              <li
                *ngFor="let turno of turnoArray[0].modulos"
                class="list-group-item bg-dark text-white rounded"
              >
                <td colspan="7">
                  <span>{{ turno.inicio }} - {{ turno.final }}</span>
                </td>
              </li>
            </ul>
          </tr>
          <tr *ngIf="turnoSeleccionado == 'manana'">
            <td colspan="3"></td>
            <td colspan="2">
              <div class="input-group">
                <input
                  type="Time"
                  class="form-control"
                  [(ngModel)]="inicioModuloSeleccionado"
                />
                <button class="btn btn-primary" (click)="addModulo()">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-plus-lg"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                    />
                  </svg>
                </button>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>
          <tr
            *ngIf="
              12 >= horaInicial &&
              horaInicial >= 5 &&
              turnoSeleccionado != 'manana'
            "
          >
            <td colspan="7" class="table-light">
              <button class="btn btn-primary" (click)="turnoActual('manana')">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </td>
          </tr>

          <!-- TARDE -->
          <tr *ngIf="18 >= horaFinal && horaFinal > 12; else turnoNoche">
            <td colspan="7" class="table-active">
              TURNO TARDE (12:00 am - {{ finalizacionHorario }} pm)
            </td>
          </tr>
          <ng-template #turnoNoche>
            <tr>
              <td colspan="7" class="table-active">
                TURNO TARDE (12:00 am - 18:00 pm)
              </td>
            </tr>
          </ng-template>
          <tr
            *ngIf="(18 >= horaFinal && horaFinal > 12) || horaFinal > 18"
            class="bg-dark"
          >
            <ul class="list-group" *ngIf="turnoArray[1].modulos.length > 0">
              <li
                *ngFor="let turno of turnoArray[1].modulos"
                class="list-group-item bg-dark text-white"
              >
                <td colspan="7">
                  <span>{{ turno.inicio }} - {{ turno.final }}</span>
                </td>
              </li>
            </ul>
          </tr>
          <tr *ngIf="turnoSeleccionado == 'tarde'">
            <td colspan="3"></td>
            <td colspan="2">
              <div class="input-group">
                <input
                  type="Time"
                  class="form-control"
                  [(ngModel)]="inicioModuloSeleccionado"
                />
                <button class="btn btn-primary" (click)="addModulo()">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-plus-lg"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                    />
                  </svg>
                </button>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr
            *ngIf="
              (18 >= horaFinal &&
                horaFinal > 12 &&
                turnoSeleccionado != 'tarde') ||
              (horaFinal > 18 && turnoSeleccionado != 'tarde')
            "
          >
            <td colspan="7" class="table-light">
              <button class="btn btn-primary" (click)="turnoActual('tarde')">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </td>
          </tr>

          <!-- NOCHE -->
          <tr *ngIf="horaFinal > 18">
            <td colspan="7" class="table-active">
              TURNO NOCHE (18:00 pm - {{ finalizacionHorario }} pm)
            </td>
          </tr>

          <tr *ngIf="horaFinal > 18" class="bg-dark">
            <ul class="list-group" *ngIf="turnoArray[2].modulos.length > 0">
              <li
                *ngFor="let turno of turnoArray[2].modulos"
                class="list-group-item bg-dark text-white"
              >
                <td colspan="7">
                  <span>{{ turno.inicio }} - {{ turno.final }}</span>
                </td>
              </li>
            </ul>
          </tr>
          <tr *ngIf="turnoSeleccionado == 'noche'">
            <td colspan="3"></td>
            <td colspan="2">
              <div class="input-group">
                <input
                  type="Time"
                  class="form-control"
                  [(ngModel)]="inicioModuloSeleccionado"
                />
                <button class="btn btn-primary" (click)="addModulo()">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-plus-lg"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                    />
                  </svg>
                </button>
              </div>
            </td>
            <td colspan="3"></td>
          </tr>

          <tr *ngIf="horaFinal > 18 && turnoSeleccionado != 'noche'">
            <td colspan="7" class="table-light">
              <button class="btn btn-primary" (click)="turnoActual('noche')">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-lg"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                  />
                </svg>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </ul>
    <div class="d-grid">
      <button
        *ngIf="botonesCrearColegioProgreso <= 1 && turnoArray.length != 0"
        (click)="goFormAula()"
        class="btn btn-primary btn-lg mt-4"
      >
        SIGUIENTE
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.10em"
          height="1.10em"
          fill="currentColor"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="botonesCrearColegio == 2"
  class="container mx-auto my-4"
  id="divAula"
>
  <div class="col-md-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Insertar Aulas</th>
          <th scope="col">Aulas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <input
                    type="text"
                    [(ngModel)]="selectedAula.nombre"
                    placeholder="Nombre"
                    class="form-control"
                  />

                  <label class="mt-2">Tipo de aula</label>
                  <select class="form-select" [(ngModel)]="selectedAula.tipo">
                    <option value="Normal">Normal</option>
                    <option value="Otro">Otro</option>
                  </select>

                  <div class="mt-3" *ngIf="selectedAula.tipo == 'Otro'">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedAula.otro"
                        value="SUM"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        SUM
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedAula.otro"
                        value="TALLER"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        TALLER
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedAula.otro"
                        value="LABORATORIO"
                        name="flexRadioDefault"
                        id="flexRadioDefault3"
                      />
                      <label class="form-check-label" for="flexRadioDefault3">
                        LABORATORIO
                      </label>
                    </div>
                  </div>

                  <button
                    (click)="addOrEditAula()"
                    class="btn btn-primary mt-4"
                  >
                    Añadir / Editar
                  </button>
                  <button
                    *ngIf="selectedAula.id != 0"
                    class="btn btn-danger mt-4 ms-4"
                    (click)="deleteAula()"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ul class="list-group shadow" style="max-height: 250px; overflow-y: scroll;">
              <li
                *ngFor="let aula of aulaArray"
                class="list-group-item list-group-item-action"
                (click)="openForEditAula(aula)"
                [class.active]="aula == selectedAula"
              >
                <span>{{ aula.nombre }}</span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-grid">
              <button
                *ngIf="botonesCrearColegioProgreso <= 2 && aulaArray.length != 0"
                (click)="goFormCurso()"
                class="btn btn-primary btn-lg mt-4"
              >
                SIGUIENTE
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.10em"
                  height="1.10em"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="botonesCrearColegio == 3"
  class="container mx-auto my-4"
  id="divCurso"
>
  <div class="col-md-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Insertar Cursos</th>
          <th scope="col">Cursos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Nombre"
                    [(ngModel)]="selectedCurso.nombre"
                    class="form-control"
                  />

                  <label class="mt-2">Turno preferido</label>
                  <select
                    class="form-select"
                    [(ngModel)]="selectedCurso.turnoPreferido"
                  >
                    <option value="manana">Mañana</option>
                    <option value="tarde">Tarde</option>
                    <option value="noche">Noche</option>
                  </select>

                  <input
                    type="number"
                    min="1"
                    placeholder="Cantidad de alumnos"
                    [(ngModel)]="selectedCurso.cantAlumnos"
                    class="form-control mt-2"
                  />

                  <button
                    (click)="addOrEditCurso()"
                    class="btn btn-primary mt-4"
                  >
                    Añadir / Editar
                  </button>
                  <button
                    *ngIf="selectedCurso.id != 0"
                    class="btn btn-danger mt-4 ms-4"
                    (click)="deleteCurso()"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ul class="list-group shadow scrollbar scrollbar-primary" style="max-height: 250px; overflow-y: scroll;">
              <li
                *ngFor="let curso of cursoArray"
                class="list-group-item list-group-item-action"
                (click)="openForEditCurso(curso)"
                [class.active]="curso == selectedCurso"
              >
                <span>{{ curso.nombre }}</span>

                <!--  / Materias en el curso:
                <p *ngFor="let materia of curso.materiasCurso">- {{ materia }}</p>  -->
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-grid">
              <button
                *ngIf="botonesCrearColegioProgreso <= 3 && cursoArray.length != 0"
                (click)="goFormProfesor()"
                class="btn btn-primary btn-lg mt-4"
              >
                SIGUIENTE
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.10em"
                  height="1.10em"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="botonesCrearColegio == 4"
  class="container mx-auto my-4"
  id="divProfesor"
>
  <div class="col-md-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Insertar Profesores</th>
          <th scope="col">Profesores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Nombre"
                    [(ngModel)]="selectedProfesor.nombre"
                    class="form-control"
                  />

                  <input
                    type="text"
                    placeholder="Apellido"
                    [(ngModel)]="selectedProfesor.apellido"
                    class="form-control"
                  />

                  <input
                    type="number"
                    placeholder="Dni"
                    min="1000000"
                    [(ngModel)]="selectedProfesor.dni"
                    class="form-control"
                  />

                  <button
                    (click)="addOrEditProfesor()"
                    class="btn btn-primary mt-4"
                  >
                    Añadir / Editar
                  </button>
                  <button
                    *ngIf="selectedProfesor.id != 0"
                    class="btn btn-danger mt-4 ms-4"
                    (click)="deleteProfesor()"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ul class="list-group shadow" style="max-height: 250px; overflow-y: scroll;">
              <li
                *ngFor="let profesor of profesorArray"
                class="list-group-item list-group-item-action"
                (click)="openForEditProfesor(profesor)"
                [class.active]="profesor == selectedProfesor"
              >
                <span>{{ profesor.nombre }}</span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-grid">
              <button
                *ngIf="botonesCrearColegioProgreso <= 4 && profesorArray.length != 0"
                (click)="goFormMateria()"
                class="btn btn-primary btn-lg mt-4"
              >
                SIGUIENTE
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.10em"
                  height="1.10em"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="botonesCrearColegio == 5"
  class="container mx-auto my-4"
  id="divMateria"
>
  <div class="col-md-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">Insertar Materias</th>
          <th scope="col">Materias</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <input
                    type="text"
                    [(ngModel)]="selectedMateria.nombre"
                    placeholder="Nombre"
                    class="form-control"
                  />

                  <input
                    type="number"
                    min="1"
                    [(ngModel)]="selectedMateria.cantidadDeModulosTotal"
                    placeholder="Cantidad de modulos total"
                    class="form-control"
                  />

                  <input
                    type="number"
                    min="1"
                    [(ngModel)]="selectedMateria.cantidadMaximaDeModulosPorDia"
                    placeholder="Cantidad maxima de modulos por dia"
                    class="form-control"
                  />

                  <p>
                    <label class="mt-2">Curso</label>
                    <select
                      class="form-select"
                      [(ngModel)]="selectedMateria.cursoDado"
                    >
                      <option
                        value="{{ curso }}"
                        *ngFor="let curso of totalCursosColegio"
                      >
                        {{ curso }}
                      </option>
                    </select>
                  </p>

                  <label class="mt-2">Profesores:</label>
                  <table>
                    <tr *ngFor="let profesor of profesoresArrayMaterias">
                      <td>
                        <div class="form-check mt-2">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            (click)="clicked(profesor.nombre)"
                            id="{{ profesor.nombre }}"
                          />
                          <label
                            class="form-check-label"
                            for="{{ profesor.nombre }}"
                          >
                            {{ profesor.nombre }}
                          </label>
                        </div>
                      </td>
                    </tr>
                  </table>

                  <!-- <input
                    type="number"
                    min="1"
                    [(ngModel)]="selectedMateria.cantProfesores"
                    placeholder="Cantidad de profesores"
                    class="form-control"
                  />
        
                  <input
                    type="number"
                    min="0"
                    [(ngModel)]="selectedMateria.espacioEntreDias"
                    placeholder="Espacio entre cada dia"
                    class="form-control"
                  />
        
                  <label class="mt-2">Tipo de aula</label>
                  <select class="form-select" [(ngModel)]="selectedMateria.tipo">
                    <option value="Normal">Normal</option>
                    <option value="Otro">Otro</option>
                  </select>
        
                  <div class="mt-3" *ngIf="selectedMateria.tipo == 'Otro'">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedMateria.otro"
                        value="SUM"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                        checked
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        SUM
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedMateria.otro"
                        value="TALLER"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        TALLER
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        [(ngModel)]="selectedMateria.otro"
                        value="LABORATORIO"
                        name="flexRadioDefault"
                        id="flexRadioDefault3"
                      />
                      <label class="form-check-label" for="flexRadioDefault3">
                        LABORATORIO
                      </label>
                    </div>
                  </div> -->

                  <button
                    (click)="addOrEditMateria()"
                    class="btn btn-primary mt-4"
                  >
                    Añadir / Editar
                  </button>
                  <button
                    *ngIf="selectedMateria.id != 0"
                    class="btn btn-danger mt-4 ms-4"
                    (click)="deleteMateria()"
                  >
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ul class="list-group shadow" style="max-height: 250px; overflow-y: scroll;">
              <li
                *ngFor="let materia of materiaArray"
                class="list-group-item list-group-item-action"
                (click)="openForEditMateria(materia)"
                [class.active]="materia == selectedMateria"
              >
                <span>{{ materia.nombre }}</span>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="d-grid">
              <button
                *ngIf="botonesCrearColegioProgreso <= 5 && materiaArray.length != 0"
                (click)="goFormFinalizar()"
                class="btn btn-primary btn-lg mt-4"
              >
                SIGUIENTE
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1.10em"
                  height="1.10em"
                  fill="currentColor"
                  class="bi bi-arrow-right"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  *ngIf="
    botonesCrearColegio == 6
  "
  class="container mx-auto my-4"
  id="divFinalizar"
>
  <div class="col-md-6 mx-auto">
    <div class="card mt-6">
      <div class="card-body">
        <div class="card-title">
          <h5>
            <p>
              GRACIAS POR UTILIZAR TU TIEMPO EN S4S. <br />
              A CONTINUACION FINALIZAREMOS CON EL PROCESO.
            </p>
          </h5>
        </div>
        <div class="d-grid">
          <button (click)="finalizar()" class="btn btn-primary btn-lg mt-2">
            FINALIZAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
