<div class="container mt-5">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mt-2">NOMBRE COLEGIO</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto my-5">
  <div class="col-md-6 mx-auto">
    <ul class="list-group">
      <li
        *ngFor="let aula of aulaArray"
        class="list-group-item list-group-item-action"
        (click)="openForEdit(aula)"
        [class.active]="aula == selectedAula"
      >
        <span class="badge bg-primary">{{ aula.id }}</span>
        Nombre: {{ aula.nombre }} / Tipo: {{ aula.tipo }}
      </li>
    </ul>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title"><h5>Insertar Aula</h5></div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="selectedAula.nombre"
            placeholder="Insertar nombre"
            class="form-control"
          />

          <select class="form-select" [(ngModel)]="selectedAula.tipo">
            <option value="1">Normal</option>
            <option value="2">Especial</option>
            <option value="3">Otro</option>
          </select>

          <button (click)="addOrEdit()" class="btn btn-primary mt-4">
            Añadir / Editar
          </button>
          <button
            *ngIf="selectedAula.id !== 0"
            class="btn btn-danger mt-4 ms-4"
            (click)="delete()"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-md-6 mx-auto py-5">
    <div class="card">
      <div class="card-body">
        <div class="d-grid"> 
        <div
            class="
              d-grid
              gap-2
              d-md-flex
              justify-content-md-startd-grid
              text-center
            "
          >
            <button type="submit" class="btn btn-primary btn-lg mt-4">
              INFORMACION GENERAL
            </button>
            <button type="submit" class="btn btn-lg mt-4">AULAS</button>
            <button type="submit" class="btn btn-lg mt-4">CURSOS</button>
            <button type="submit" class="btn btn-lg mt-4">PROFESORES</button>
            <button type="submit" class="btn btn-lg mt-4">MATERIAS</button>
          </div>
        </div> 
          CAMBIAR TODOS LOS TYPE EMAIL POR SU CORRESPONDIENTE Y HACER BIEN LOS CUADRADOS DE ARRIBA DE CADA GRILLA Y HACER SU RESPECTIVA FUNCION 
           <div>
          <ul class="pagination pagination-lg">
            <li class="page-item">
              <label class="page-link">Info General</label>
            </li>
            <li class="page-item">
              <label class="page-link">Aulas</label>
            </li>
            <li class="page-item">
              <label class="page-link">Cursos</label>
            </li>
            <li class="page-item">
              <label class="page-link">Profesores</label>
            </li>
            <li class="page-item">
              <label class="page-link">Materias</label>
            </li>
          </ul>
        </div> 



                    <div class="d-grid" id="profesores">
                      <form style="display: block">
                         Hacer una grilla para q rellene tantas veces como profes haya puesto 
                        <div class="form-group mt-2">
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Nombre"
                            formControlName="email"
                          />
                        </div>
                        <div class="form-group mt-2">
                          <input
                            type="email"
                            placeholder="Dni"
                            class="form-control"
                            formControlName="email"
                          />
                        </div>
                        <div class="form-group mt-2">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                          >
                            <option selected>Materias capacitado</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="0">0</option>
                          </select>
                        </div>
                        <div class="form-group mt-2">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                          >
                            <option selected>Turno preferido</option>
                            <option value="1">Mañana</option>
                            <option value="2">Tarde</option>
                            <option value="3">Noche</option>
                          </select>
                        </div>
                        <div class="form-group mt-2">
                          <select
                            class="form-select"
                            aria-label="Default select example"
                          >
                            <option selected>Cantidad de materias</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="0">0</option>
                          </select>
                        </div>
                        <div class="form-group mt-2">
                          
                          <input
                            type="email"
                            placeholder="Condiciones"
                            class="form-control"
                            formControlName="email"
                          />
                        </div>
                        <div class="d-grid">
                          <button class="btn btn-primary btn-lg mt-2">
                            SIGUIENTE
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="1.10em"
                              height="1.10em"
                              fill="currentColor"
                              class="bi bi-arrow-right"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                              />
                            </svg>
                          </button>
                        </div>
                      </form>
                    </div>


</div>
        </div>
      </div>
    </div> -->

<!-- <div class="col-md-2 text-center">
      <label
        class="page-link bg-primary"
        id="infoGral_label"
        style="color: #fff"
        >Info General</label
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        />
      </svg>
      <label class="page-link bg-primary" style="color: #fff">Aulas</label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
        />
      </svg>
      <label class="page-link bg-light">Cursos</label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
        />
      </svg>
      <label class="page-link bg-light">Profesores</label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
        />
      </svg>
      <label class="page-link bg-light">Materias</label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
        />
      </svg>
      <label class="page-link bg-light">Finalizar</label>
    </div> -->
