<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto" [ngStyle]="setMyStyles(colegioSvc.color)">
      <div class="card">
        <div class="card-body">
          <h3 class="text-center mt-2">{{ colegioSvc.nombreColegio }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 mt-4 mx-auto">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-end">
          <!-- *ngIf="colegioSvc.botonesCrearColegio >= 1; else bloquearBoton" -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'turnos' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'turnos' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary mx-2"
            (click)="clickeoBotones('turnos')"
          >
            Turnos</button
          ><!-- *ngIf="
            colegioSvc.botonesCrearColegio >= 2 && colegioSvc.turnos != 0;
              else bloquearBoton0
            " -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'aulas' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'aulas' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary me-2"
            (click)="clickeoBotones('aulas')"
          >
            Aulas
          </button>
          <!-- *ngIf="
            colegioSvc.botonesCrearColegio >= 3 && colegioSvc.turnos != 0 && colegioSvc.aulas != 0;
              else bloquearBoton1
            " -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'cursos' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'cursos' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary me-2"
            (click)="clickeoBotones('cursos')"
          >
            Cursos</button
          ><!-- *ngIf="
            colegioSvc.botonesCrearColegio >= 4 &&
              colegioSvc.turnos != 0 &&
                colegioSvc.aulas != 0 &&
                colegioSvc.cursos != 0;
              else bloquearBoton2
            " -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'profesores' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'profesores' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary me-2"
            (click)="clickeoBotones('profesores')"
          >
            Profesores</button
          ><!-- *ngIf="
            colegioSvc.botonesCrearColegio >= 5 &&
              colegioSvc.turnos != 0 &&
                colegioSvc.aulas != 0 &&
                colegioSvc.cursos != 0 &&
                colegioSvc.profesores != 0;
              else bloquearBoton3
            " -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'materias' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'materias' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary me-2"
            (click)="clickeoBotones('materias')"
          >
            Materias
          </button>
          <!-- *ngIf="
              colegioSvc.botonesCrearColegio >= 6 &&
                colegioSvc.turnos != 0 &&
                colegioSvc.aulas != 0 &&
                colegioSvc.cursos != 0 &&
                colegioSvc.profesores != 0 &&
                colegioSvc.materias != 0;
              else bloquearBoton4
            " -->
          <!-- [ngClass]="{ 'btn-primary': colegioSvc.seccion == 'finalizar' }" -->

          <button
            [ngStyle]="{
              background:
                colegioSvc.seccion == 'finalizar' ? colegioSvc.color : 'gray'
            }"
            class="col btn btn-primary me-2"
            (click)="clickeoBotones('finalizar')"
          >
            Finalizar
          </button>
        </div>

        <!-- <ng-template #bloquearBoton>
          <button class="col btn btn-light me-2 disabled">Turnos</button>
        </ng-template>
        <ng-template #bloquearBoton0>
          <button class="col btn btn-light me-2 disabled">Aulas</button>
        </ng-template>
        <ng-template #bloquearBoton1>
          <button class="col btn btn-light me-2 disabled">Cursos</button>
        </ng-template>
        <ng-template #bloquearBoton2>
          <button class="col btn btn-light me-2 disabled">Profesores</button>
        </ng-template>
        <ng-template #bloquearBoton3>
          <button class="col btn btn-light me-2 disabled">Materias</button>
        </ng-template> 
        <ng-template #bloquearBoton4>
          <button class="col btn btn-light me-2 disabled">Finalizar</button>
        </ng-template>-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="colegioSvc.seccion == 'turnos'" class="container mx-auto my-4">
  <app-turnos></app-turnos>
</div>
<!-- && colegioSvc.turnos != 0  -->
<div
  *ngIf="colegioSvc.seccion == 'aulas'"
  class="container mx-auto my-4"
  id="divAula"
>
  <app-aulas></app-aulas>
</div>
<!--&& colegioSvc.turnos != 0 &&
    colegioSvc.aulas != 0  -->
<div
  *ngIf="colegioSvc.seccion == 'cursos'"
  class="container mx-auto my-4"
  id="divCurso"
>
  <app-cursos></app-cursos>
</div>
<!--&& colegioSvc.turnos != 0 &&
    colegioSvc.aulas != 0 &&
    colegioSvc.cursos != 0 -->
<div
  *ngIf="colegioSvc.seccion == 'profesores'"
  class="container mx-auto my-4"
  id="divProfesor"
>
  <app-profesores></app-profesores>
</div>
<div
  *ngIf="colegioSvc.seccion == 'materias'"
  class="container mx-auto my-4"
  id="divMateria"
>
  <app-materias></app-materias>
</div>
<div
  *ngIf="colegioSvc.seccion == 'finalizar'"
  class="container mx-auto my-4"
  id="divFinalizar"
>
  <app-finalizar></app-finalizar>
</div>
