<div class="col-md-8 mx-auto">
  <div class="card mt-6">
    <div class="card-body">
      <table class="table text-center">
        <thead>
          <tr class="table-light">
            <th class="rounded-start" scope="col">Horarios</th>
            <th scope="col"></th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th class="rounded-end" scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>
          <!-- MAÑANA -->
          <tr *ngIf="12 >= horaInicial && horaInicial >= 5">
            <td colspan="7" class="table-active">INICIO ACTIVIDADES</td>
          </tr>
          <tr *ngFor="let turno of turnoArray[0].modulos" class="bg-white">
            <td colspan="2" class="text-black">
              {{ turno.inicio }} - {{ turno.final }}
            </td>
          </tr>

          <!-- TARDE -->
          <tr *ngIf="18 >= horaFinal && horaFinal > 12">
            <td colspan="7" class="table-active"></td>
          </tr>

          <tr *ngFor="let turno of turnoArray[1].modulos" class="bg-white">
            <td colspan="2" class="text-black">
              {{ turno.inicio }} - {{ turno.final }}
            </td>
          </tr>

          <!-- NOCHE -->
          <tr *ngIf="horaFinal > 18">
            <td colspan="7" class="table-active"></td>
          </tr>

          <tr *ngFor="let turno of turnoArray[2].modulos" class="bg-white">
            <td colspan="2" class="text-black">
              {{ turno.inicio }} - {{ turno.final }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-title">
        <h5 class="my-3">
          <p>
            Gracias por utilizar S4S. <br />
            A continuacion veras los horarios generados.
          </p>
        </h5>

        <button class="btn btn-primary" type="button" disabled>
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Generando Horarios (Esto podria demorar)...
        </button>
      </div>

      <ng-template #bloquearBoton5>
        <span>Genera tus horarios presionando el boton</span>
      </ng-template>

      <div class="d-grid">
        <button (click)="finalizar()" class="btn btn-primary btn-lg mt-2">
          Generar mis horarios ya!
        </button>
      </div>
    </div>
    <ng-template #presionadoFinalizar>
      <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status"></div>
      </div>
    </ng-template>
  </div>
</div>
