<div class="col-md-8 mx-auto">
  <div class="card mt-6">
    <div class="card-body">
      <p *ngIf="colegioSvc.horarioGenerado">
        <label class="mt-2">Cursos</label>
        <select class="form-select" [(ngModel)]="colegioSvc.cursoActual">
          <option
            *ngFor="let curso of colegioSvc.cursoArray"
            value="{{ curso.nombre }}"
          >
            {{ curso.nombre }}
          </option>
        </select>
      </p>

      <table *ngIf="colegioSvc.horarioGenerado" class="table text-center">
        <thead>
          <tr class="table-light">
            <th class="rounded-start" scope="col">Horarios</th>
            <th scope="col"></th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th class="rounded-end" scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>
          <!-- MAÑANA -->
          <tr
            *ngIf="12 >= colegioSvc.horaInicial && colegioSvc.horaInicial >= 5"
          >
            <td colspan="7" class="table-active">INICIO ACTIVIDADES</td>
          </tr>
          <tr
            *ngFor="
              let modulo of colegioSvc.turnoArray[0].modulos;
              let m = index
            "
            class="bg-white"
          >
            <td colspan="2" class="text-black">
              {{ modulo.inicio }} - {{ modulo.final }}
            </td>
            <td
              *ngFor="let dia of colegioSvc.dias; let d = index"
              colspan="1"
              class="text-black"
            >
              <li
                *ngIf="horariosHechos[colegioSvc.cursoActual][dia]['manana'][modulo.inicio] != ''"
                class="list-group-item list-group-item-action"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseExampleManana' + d + m"
                aria-expanded="false"
              >
                <div>
                  {{horariosHechos[colegioSvc.cursoActual][dia]["manana"][modulo.inicio]}}
                  <div
                    class="collapse"
                    [attr.id]="'collapseExampleManana' + d + m"
                  >
                    <li class="list-group-item">
                      <span>{{horariosAulasHechos[colegioSvc.cursoActual][dia]["manana"][modulo.inicio]}}</span>
                    </li>
                    <li class="list-group-item">
                      <span>{{materiasProfesoresHechos[horariosHechos[colegioSvc.cursoActual][dia]["manana"][modulo.inicio]]}}</span>
                    </li>
                  </div>
                </div>
              </li>
            </td>
          </tr>

          <!-- TARDE -->
           <tr *ngIf="18 >= colegioSvc.horaFinal && colegioSvc.horaFinal > 12">
              <td colspan="7" class="table-active"></td>
            </tr>

            <tr
            *ngFor="
              let modulo of colegioSvc.turnoArray[1].modulos;
              let m = index
            "
            class="bg-white"
          >
            <td colspan="2" class="text-black">
              {{ modulo.inicio }} - {{ modulo.final }}
            </td>
            <td
              *ngFor="let dia of colegioSvc.dias; let d = index"
              colspan="1"
              class="text-black"
            >
              <li
                *ngIf="horariosHechos[colegioSvc.cursoActual][dia]['tarde'][modulo.inicio] != ''"
                class="list-group-item list-group-item-action"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseExampleTarde' + d + m"
                aria-expanded="false"
              >
                <div>
                  {{horariosHechos[colegioSvc.cursoActual][dia]["tarde"][modulo.inicio]}}
                  <div
                    class="collapse"
                    [attr.id]="'collapseExampleTarde' + d + m"
                  >
                    <li class="list-group-item">
                      <span>{{horariosAulasHechos[colegioSvc.cursoActual][dia]["tarde"][modulo.inicio]}}</span>
                    </li>
                    <li class="list-group-item">
                      <span>{{materiasProfesoresHechos[horariosHechos[colegioSvc.cursoActual][dia]["tarde"][modulo.inicio]]}}</span>
                    </li>
                  </div>
                </div>
              </li>
            </td>
          </tr>

          <!-- NOCHE -->
           <tr *ngIf="colegioSvc.horaFinal > 18">
              <td colspan="7" class="table-active"></td>
            </tr>

            <tr
            *ngFor="
              let modulo of colegioSvc.turnoArray[2].modulos;
              let m = index
            "
            class="bg-white"
          >
            <td colspan="2" class="text-black">
              {{ modulo.inicio }} - {{ modulo.final }}
            </td>
            <td
              *ngFor="let dia of colegioSvc.dias; let d = index"
              colspan="1"
              class="text-black"
            >
              <li
                *ngIf="horariosHechos[colegioSvc.cursoActual][dia]['noche'][modulo.inicio] != ''"
                class="list-group-item list-group-item-action"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseExampleNoche' + d + m"
                aria-expanded="false"
              >
                <div>
                  {{horariosHechos[colegioSvc.cursoActual][dia]["noche"][modulo.inicio]}}
                  <div
                    class="collapse"
                    [attr.id]="'collapseExampleNoche' + d + m"
                  >
                    <li class="list-group-item">
                      <span>{{horariosAulasHechos[colegioSvc.cursoActual][dia]["noche"][modulo.inicio]}}</span>
                    </li>
                    <li class="list-group-item">
                      <span>{{materiasProfesoresHechos[horariosHechos[colegioSvc.cursoActual][dia]["noche"][modulo.inicio]]}}</span>
                    </li>
                  </div>
                </div>
              </li>
            </td>
          </tr>
        </tbody>
      </table>

      <div
        *ngIf="colegioSvc.botonPresionado && !colegioSvc.horarioGenerado"
        class="card-title text-center"
      >
        <h5 class="my-3">
          <p>Gracias por utilizar S4S.</p>
        </h5>

        <button
          *ngIf="colegioSvc.botonPresionado && !colegioSvc.horarioGenerado"
          class="btn btn-primary"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Generando Horarios (Esto podria demorar)...
        </button>
      </div>

      <button class="btn btn-primary" (click)="exportAsExcelFile()">
        deownload
      </button>

      <div *ngIf="!colegioSvc.botonPresionado" class="d-grid">
        <!--  -->
        <div *ngIf="colegioSvc.pagoFinalizado else pagar" class="d-grid">
          <button (click)="finalizar()" class="btn btn-primary btn-lg mt-2">
            Generar mis horarios ya!
          </button>
        </div>
        <ng-template #pagar>
          <h5 class="my-3">Usted esta por pagar un procesamiento de:</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Aulas
              <span class="badge badge-primary badge-pill bg-primary">{{colegioSvc.aulaArray.length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cursos
              <span class="badge badge-primary badge-pill bg-primary">{{colegioSvc.cursoArray.length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Profesores
              <span class="badge badge-primary badge-pill bg-primary">{{colegioSvc.profesorArray.length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Materias
              <span class="badge badge-primary badge-pill bg-primary">{{colegioSvc.materiaArray.length}} </span>
            </li>
          </ul>
          
          <div class="mercadoPagoBoton mt-5"></div>
        </ng-template>
        
      </div>
    </div>
  </div>
</div>
