<div class="col-md-8 mx-auto mb-4">
  <div class="card mt-6">
    <div class="card-body text-center">
      <ng-container *ngIf="horarioGenerado">
        <label class="mt-2">Cursos</label>
        <select class="form-select" [(ngModel)]="cursoActual">
          <option
            *ngFor="let curso of ordenarCursos(keys(horariosHechos))"
            value="{{ curso }}"
          >
            {{ curso }}
          </option>
        </select>
      </ng-container>

      <table *ngIf="horarioGenerado" class="table text-center mt-2">
        <thead>
          <tr class="table-light">
            <th class="rounded-start" scope="col">Horarios</th>
            <th scope="col"></th>
            <th scope="col">Lunes</th>
            <th scope="col">Martes</th>
            <th scope="col">Miercoles</th>
            <th scope="col">Jueves</th>
            <th class="rounded-end" scope="col">Viernes</th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngFor="
              let turno of ordenarTurnos(
                keys(horariosHechos[this.cursoActual]['Lunes'])
              )
            "
          >
            <tr>
              <td colspan="7" class="table-active">INICIO ACTIVIDADES</td>
            </tr>
            <tr
              *ngFor="
                let modulo of odenarModulos(
                  keys(horariosHechos[this.cursoActual]['Lunes'][turno])
                );
                let m = index
              "
              class="bg-white"
            >
              <td colspan="2" class="text-black">
                {{ modulo }} - {{ sumarDuracionModulo(modulo) }}
              </td>
              <td
                *ngFor="
                  let dia of ordenarDias(
                    keys(horariosHechos[this.cursoActual])
                  );
                  let d = index
                "
                colspan="1"
                class="text-black"
              >
                <li
                  *ngIf="
                    horariosHechos[this.cursoActual][dia][turno][modulo].split(
                      '-'
                    )[0] != 'Hueco'
                  "
                  class="list-group-item list-group-item-action"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + turno + d + m"
                  aria-expanded="false"
                >
                  <div>
                    {{
                      horariosHechos[this.cursoActual][dia][turno][
                        modulo
                      ].split("-")[0]
                    }}
                    <div
                      class="collapse"
                      [attr.id]="'collapse' + turno + d + m"
                    >
                      <li class="list-group-item">
                        <span>{{
                          horariosAulasHechos[this.cursoActual][dia][turno][
                            modulo
                          ]
                        }}</span>
                      </li>
                      <li class="list-group-item">
                        <span>{{
                          materiasProfesoresHechos[
                            horariosHechos[this.cursoActual][dia][turno][modulo]
                          ]
                        }}</span>
                      </li>
                    </div>
                  </div>
                </li>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <button
        *ngIf="horarioGenerado"
        class="btn btn-primary my-2"
        (click)="exportAsExcelFile()"
      >
        Descargar Horarios
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-download ms-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
          />
          <path
            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
          />
        </svg>
      </button>

      <div
        *ngIf="botonPresionado && !horarioGenerado"
        class="card-title text-center"
      >
        <h5 class="my-3">
          <p>
            Gracias por utilizar S4S. Generando Horarios (Esto podria
            demorar)...
          </p>
        </h5>

        <label>Paso {{ indiceProgreso }}/7</label>
        <div class="progress h-50 mt-4">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [ngStyle]="{ width: progresoSeccion + '%' }"
          >
            {{ progresoSeccion }}%
          </div>
        </div>

        <div class="progress h-50 mt-4">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            [ngStyle]="{ width: progresoTotal + '%' }"
          >
            {{ progresoTotal }}%
          </div>
        </div>
      </div>

      <div
        *ngIf="
          !botonPresionado &&
            colegioSvc.aulaArray.length > 0 &&
            colegioSvc.cursoArray.length > 0 &&
            colegioSvc.profesorArray.length > 0 &&
            colegioSvc.materiaArray.length > 0 &&
            ((colegioSvc.turnoArray[0].habilitado &&
              colegioSvc.turnoArray[0].modulos.length > 0) ||
              (colegioSvc.turnoArray[1].habilitado &&
                colegioSvc.turnoArray[1].modulos.length > 0) ||
              (colegioSvc.turnoArray[2].habilitado &&
                colegioSvc.turnoArray[2].modulos.length > 0));
          else creaColegio
        "
        class="d-grid"
      >
        <!-- *ngIf="colegioSvc.pagoFinalizado else pagar" -->
        <div class="d-grid">
          <button (click)="finalizar()" class="btn btn-primary btn-lg mt-2">
            Generar mis horarios ya!
          </button>
        </div>

        <ng-template #pagar>
          <h5 class="my-3">Usted esta por pagar un procesamiento de:</h5>
          <ul class="list-group">
            <li
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              Aulas
              <span class="badge badge-primary badge-pill bg-primary">{{
                colegioSvc.aulaArray.length
              }}</span>
            </li>
            <li
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              Cursos
              <span class="badge badge-primary badge-pill bg-primary">{{
                colegioSvc.cursoArray.length
              }}</span>
            </li>
            <li
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              Profesores
              <span class="badge badge-primary badge-pill bg-primary">{{
                colegioSvc.profesorArray.length
              }}</span>
            </li>
            <li
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              "
            >
              Materias
              <span class="badge badge-primary badge-pill bg-primary"
                >{{ colegioSvc.materiaArray.length }}
              </span>
            </li>
          </ul>

          <div class="mercadoPagoBoton mt-5"></div>
        </ng-template>
      </div>
      <ng-template #creaColegio>
        <h3 *ngIf="!botonPresionado" class="text-center mt-2">
          Ingresa como minimo un valor de cada seccion
        </h3>
      </ng-template>
    </div>
  </div>
</div>

<!-- <app-dinosaurio></app-dinosaurio> -->
