<!-- <div class="container">
  
  <div class="col-md-3 mx-auto my-5">
    <div class="card text-center">
      <div class="card-body mx-auto">
        <div class="form-group">
          <label>Crear o Unirse a Colegios</label>
          <div class="card">
            <div class="card-body">
              <div class="d-grid">
                <button (click)="irEleccion()" class="btn btn-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-plus-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                    />
                    <path
                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="nombresDeEscuelasUsuario.length > 0"
    class="col-md-6 mx-auto mt-5"
  >
    <div class="card text-center">
      <div class="card-body">
        <div class="form-group">
          <label><h2>Mis Colegios</h2></label>
          <table class="table">
            <thead>
              <tr>
                <th
                  *ngFor="let escuela of nombresDeEscuelasUsuario"
                  scope="col"
                >
                  {{ escuela }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let escuela of nombresDeEscuelasUsuario">
                  <div class="card">
                    <div class="card-body">

                      <button
                        
                        type="button"
                        class="position-absolute top-0 start-0"
                        style="z-index: 1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-three-dots-vertical"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                          />
                        </svg>
                      </button>
                      <button
                        (click)="deleteSchool(escuela)"
                        type="button"
                        class="
                          btn-close btn-close-white
                          position-absolute
                          top-0
                          end-0
                        "
                        aria-label="Close"
                        style="z-index: 1"
                      ></button>

                      <div class="d-grid">

                        <button
                          (click)="irCrearColegio(escuela)"
                          class="btn btn-primary mx-auto"
                          style="width: 90%"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-arrow-right-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    <div class="col">
      <div class="card" style="height: 100%">
        <div class="card-body">
          <div class="d-grid">
            <button (click)="irEleccion()" class="btn btn-primary btn-lg mt-3 py-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-plus-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
            </button>
            <div class="alert alert-light mt-4 text-center" role="alert">
              Crear o Unirse a Colegios
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col" *ngFor="let escuela of nombresDeEscuelasUsuario">
      <div class="card" style="height: 100%">
        <div class="card-body">
          <p>
            <button
              type="button"
              class="btn btn-light btn-sm position-absolute top-0 start-0"
              style="
                z-index: 1;
                box-shadow: none;
                border: none;
                background-image: none;
              "
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="40"
                fill="currentColor"
                class="bi bi-three-dots-vertical"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                />
              </svg>
            </button>
          </p>
          <div
            class="collapse position-absolute"
            id="collapseExample"
            style="z-index: 11"
          >
            <div class="card card-body" (click)="copyLink(escuela)">
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-files mb-1"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"
                  />
                </svg>
                Invitar al colegio
              </span>
            </div>
          </div>
          <!-- <button
            (click)="copyLink(escuela)"
            type="button"
            class="btn btn-light btn-sm position-absolute top-0 start-0"
            style="
              z-index: 1;
              box-shadow: none;
              border: none;
              background-image: none;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="40"
              fill="currentColor"
              class="bi bi-three-dots-vertical"
              viewBox="0 0 16 16"
            >
              <path
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
              />
            </svg>
          </button> -->
          <button
            (click)="deleteSchool(escuela)"
            type="button"
            class="btn-close btn-close-white position-absolute top-0 end-0"
            aria-label="Close"
            style="z-index: 1"
          ></button>
          <div class="d-grid">
            <button
              (click)="irCrearColegio(escuela)"
              class="btn btn-primary py-5 mx-auto ms-4"
              style="width: 90%"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-arrow-right-circle"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                />
              </svg>
            </button>
          </div>
          <div class="alert alert-light mt-4 text-center" role="alert">
            {{ escuela }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
