<div class="col-md-6 mx-auto mt-5 py-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center mt-4">COLEGIO</h1>
      <h6 class="text-center">Scheduler For School</h6>
      <div class="alert alert-light mt-4 text-danger" role="alert">
        *Obligatorio
      </div>
      <!-- id="botonesEleccionCrear" -->
      <div  *ngIf="fueACrear == false" >
        <div class="d-grid">
          <button
            *ngIf="NombreColegio == null; else bloquearBoton"
            (click)="irCrear()"
            class="btn btn-primary btn-lg mt-4 py-4"
          >
            CREAR
          </button>
        </div>
        <ng-template #bloquearBoton>
          <button class="btn btn-primary disabled btn-lg mt-4 py-4">
            CREAR
          </button>
        </ng-template>
      </div>
      <!--id="crear" style="display: none"-->
      <div *ngIf="fueACrear" >
        <div class="mx-auto mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">CREAR COLEGIO</h1>
              <form [formGroup]="crearColegioForm" (ngSubmit)="onCrear()">
                <div class="form-group mt-3">
                  <h6 class="text-danger d-inline-block">*</h6>
                  <input
                    type="text"
                    placeholder="Nombre del Colegio"
                    required
                    class="form-control"
                    formControlName="nombre"
                  />
                </div>
                <div class="form-group mt-3">
                  <h6 class="text-danger d-inline-block">*</h6>
                  <input
                    type="text"
                    placeholder="Direccion del Colegio"
                    required
                    class="form-control"
                    formControlName="direccion"
                  />
                </div>
                <div class="form-group mt-3">
                  <label>Localidad <h6 class="text-danger d-inline-block">*</h6></label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="localidad"
                    required
                  >
                    <option value="Abasto">Abasto</option>
                    <option value="Agronomía">Agronomía</option>
                    <option value="Almagro">Almagro</option>
                    <option value="Balvanera">Balvanera</option>
                    <option value="Barracas">Barracas</option>
                    <option value="Barrio Norte">Barrio Norte</option>
                    <option value="Belgrano">Belgrano</option>
                    <option value="Boedo">Boedo</option>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Caba">Caba</option>
                    <option value="Caballito">Caballito</option>
                    <option value="Capital Federal">Capital Federal</option>
                    <option value="Chacarita">Chacarita</option>
                    <option value="Ciudad Autónoma De Buenos Aires">Ciudad Autónoma De Buenos Aires</option>
                    <option value="Coghlan">Coghlan</option>
                    <option value="Colegiales">Colegiales</option>
                    <option value="Constitución">Constitución</option>
                    <option value="Flores">Flores</option>
                    <option value="Floresta">Floresta</option>
                    <option value="La Boca">La Boca</option>
                    <option value="Liniers">Liniers</option>
                    <option value="Mataderos">Mataderos</option>
                    <option value="Microcentro">Microcentro</option>
                    <option value="Monte Castro">Monte Castro</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Nueva Pompeya">Nueva Pompeya</option>
                    <option value="Núñez">Núñez</option>
                    <option value="Palermo">Palermo</option>
                    <option value="Palermo Viejo">Palermo Viejo</option>
                    <option value="Parque Avellaneda">Parque Avellaneda</option>
                    <option value="Parque Chacabuco">Parque Chacabuco</option>
                    <option value="Parque Patricios">Parque Patricios</option>
                    <option value="Paternal">Paternal</option>
                    <option value="Puerto Madero">Puerto Madero</option>
                    <option value="Recoleta">Recoleta</option>
                    <option value="Retiro">Retiro</option>
                    <option value="Saavedra">Saavedra</option>
                    <option value="San Cristobal">San Cristobal</option>
                    <option value="San Nicolás">San Nicolás</option>
                    <option value="San Telmo">San Telmo</option>
                    <option value="Velez Sarsfield">Velez Sarsfield</option>
                    <option value="Versalles">Versalles</option>
                    <option value="Villa Crespo">Villa Crespo</option>
                    <option value="Villa del Parque">Villa del Parque</option>
                    <option value="Villa Devoto">Villa Devoto</option>
                    <option value="Villa General Mitre">Villa General Mitre</option>
                    <option value="Villa Lugano">Villa Lugano</option>
                    <option value="Villa Luro">Villa Luro</option>
                    <option value="Villa Ortúzar">Villa Ortúzar</option>
                    <option value="Villa Pueyrredón">Villa Pueyrredón</option>
                    <option value="Villa Real">Villa Real</option>
                    <option value="Villa Riachuelo">Villa Riachuelo</option>
                    <option value="Villa Santa Rita">Villa Santa Rita</option>
                    <option value="Villa Soldati">Villa Soldati</option>
                    <option value="Villa Urquiza">Villa Urquiza</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <h6 class="text-danger d-inline-block">*</h6>
                  <div class="input-group mb-3">
                    <span class="input-group-text rounded bg-light me-2">11-</span>
                    <input
                      type="number"
                      min="10000000"
                      max="99999999"
                      placeholder="Telefono del Colegio (sin espacion ni signos, solo numeros)"
                      required
                      class="form-control"
                      formControlName="telefono"
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <h6 class="text-danger d-inline-block">*</h6>
                  <input
                    type="number"
                    min="1"
                    max="60"
                    placeholder="Duracion de cada modulo (en minutos)"
                    required
                    class="form-control"
                    formControlName="duracionModulo"
                  />
                </div>
                <div class="form-group mt-3">
                  <label>Hora inicio del primer Modulo del dia <h6 class="text-danger d-inline-block">*</h6></label>
                  <input
                    type="Time"
                    required
                    class="form-control"
                    formControlName="inicioHorario"
                  />
                </div>
                <div class="form-group mt-3">
                  <label>Hora final del ultimo modulo del dia <h6 class="text-danger d-inline-block">*</h6></label>
                  <input
                    type="Time"
                    required
                    class="form-control"
                    formControlName="finalizacionHorario"
                  />
                </div>

                <div class="d-grid">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg mt-4 py-4"
                  >
                    CREAR
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="0.7em"
                      height="0.7em"
                      fill="currentColor"
                      class="bi bi-plus-lg"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"
                      />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- id="botonesEleccionUnirse" -->
      <div *ngIf="fueAUnirse == false">
        <div class="d-grid">
          <button (click)="irUnirse()" disabled class="btn btn-primary btn-lg mt-4">
            UNIRSE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1.10em"
              height="1.10em"
              fill="currentColor"
              class="bi bi-arrow-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
              />
            </svg>
          </button>
        </div>
      </div>
      <!--id="unirse" style="display: none"-->
      <div *ngIf="fueAUnirse" >
        <div class="mx-auto mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">UNIRSE A COLEGIO</h1>
              <!-- [formGroup]="unirseColegioForm" (ngSubmit)="onUnirse()" -->
              <form>
                <div class="form-group mt-4">
                  <h6 class="text-danger d-inline-block">*</h6>
                  <input
                    type="text"
                    placeholder="Ingresar Codigo del Colegio"
                    required
                    class="form-control"
                    formControlName="codigoColegio"
                  />
                </div>
                <div class="d-grid">
                  <button
                    type="submit"
                    (click)="irUnirse()"
                    class="btn btn-primary btn-lg mt-4"
                  >
                    UNIRSE
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1.10em"
                      height="1.10em"
                      fill="currentColor"
                      class="bi bi-arrow-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
