<div class="col-md-6 mx-auto mt-5 py-5">
  <div class="card">
    <div class="card-body">
      <!-- <h1 class="text-center mt-4">COLEGIO</h1> -->
      <h3 class="text-center mt-3">Scheduler For Schools</h3>
      <!-- id="botonesEleccionCrear" -->
      <div *ngIf="fueACrear == false">
        <div class="d-grid">
          <button (click)="irCrear()" class="btn btn-primary btn-lg mt-5 py-4">
            CREAR
          </button>
        </div>
        <!-- *ngIf="nombresDeEscuelasUsuario.length < 3; else bloquearBoton"
        <ng-template #bloquearBoton>
          <button class="btn btn-primary disabled btn-lg mt-4 py-4">
            CREAR
          </button>
        </ng-template> -->
      </div>
      <!--id="crear" style="display: none"-->
      <div *ngIf="fueACrear">
        <div class="mx-auto mt-5">
          <div class="card">
            <div class="card-body">
              <div class="alert alert-light mt-2 text-danger" role="alert">
                *Obligatorio
              </div>
              <!-- <h1 class="text-center">CREAR COLEGIO</h1> -->
              <form [formGroup]="crearColegioForm" (ngSubmit)="onCrear()">
                <div class="form-group mt-4">
                  <label
                    >Nombre del Colegio
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="text"
                    required
                    class="form-control"
                    formControlName="nombre"
                  />
                </div>
                <div class="form-group mt-3">
                  <label
                    >Provincia
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <select
                    class="form-select"
                    formControlName="provincia"
                    required
                    (change)="
                      localidadesPorProvincia(
                        this.crearColegioForm.value['provincia']
                      )
                    "
                  >
                    <option
                      value="{{ provincia['nombre'] }}"
                      *ngFor="let provincia of provinciasArgentina"
                      class="bg-white"
                    >
                      {{ provincia["nombre"] }}
                    </option>
                  </select>
                </div>
                <div
                  class="form-group mt-3"
                  *ngIf="localidadesProvincia.length > 0"
                >
                  <label
                    >Localidad
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <select
                    class="form-select"
                    formControlName="localidad"
                    required
                  >
                    <option
                      value="{{ localidad['nombre'] }}"
                      *ngFor="let localidad of localidadesProvincia"
                      class="bg-white"
                    >
                      {{ localidad["nombre"] }}
                    </option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label
                    >Telefono del Colegio (sin espacion ni signos, solo numeros)
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <div class="input-group mb-3">
                    <span class="input-group-text rounded bg-light me-2"
                      >011-</span
                    >
                    <input
                      type="number"
                      placeholder="Ej: 12345678"
                      min="10000000"
                      max="99999999"
                      required
                      class="form-control"
                      formControlName="telefono"
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label
                    >Duracion de cada modulo (en minutos)
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="number"
                    placeholder="Ej: 40"
                    min="20"
                    max="60"
                    required
                    class="form-control"
                    formControlName="duracionModulo"
                  />
                </div>
                <div class="form-group mt-3">
                  <label
                    >Hora inicio del primer Modulo del dia
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="Time"
                    required
                    class="form-control"
                    formControlName="inicioHorario"
                  />
                </div>
                <div class="form-group mt-3">
                  <label
                    >Hora final del ultimo modulo del dia
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="Time"
                    required
                    class="form-control"
                    formControlName="finalizacionHorario"
                  />
                </div>

                <div class="d-grid">
                  <button
                    type="submit"
                    class="btn btn-primary btn-lg mt-4 py-4"
                  >
                    CREAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- id="botonesEleccionUnirse" -->
      <div *ngIf="fueAUnirse == false">
        <div class="d-grid">
          <button (click)="irUnirse()" class="btn btn-primary btn-lg mt-4">
            UNIRSE
          </button>
        </div>
      </div>
      <!--id="unirse" style="display: none"-->
      <div *ngIf="fueAUnirse">
        <div class="mx-auto mt-2">
          <div class="card">
            <div class="card-body">
              <div class="alert alert-light mt-2 text-danger" role="alert">
                *Obligatorio
              </div>
              <!-- <h1 class="text-center">UNIRSE A COLEGIO</h1> -->
              <!-- [formGroup]="unirseColegioForm" (ngSubmit)="onUnirse()" -->
              <form [formGroup]="unirseColegioForm" (ngSubmit)="onUnirse()">
                <div class="form-group mt-4">
                  <label
                    >Nombre del Colegio
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="text"
                    required
                    class="form-control"
                    formControlName="nombreColegio"
                    (change) = "buscarColegios()"
                  />
                </div>

                <div class="form-group mt-4">
                  <label
                    >Codigo del Colegio
                    <h6 class="text-danger d-inline-block">*</h6></label
                  >
                  <input
                    type="text"
                    required
                    class="form-control"
                    formControlName="idColegio"
                  />
                </div>
                
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg mt-4">
                    UNIRSE
                  </button>
                </div>
                <label *ngFor let aaaa of colegiosBuscados>{{ aaaa }}</label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
