<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="opacity: 0.95; height: 70px;">
    <a class="navbar-brand" style="margin-left: 20px;" href="">S4S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <div class="navbar-nav mr-auto">
            <label class="nav-link">Scheduler For School</label> <!--NO PUEDO PONER LA FUNCION Q T MANDA AL LOGIN, METER ESTE BOTON DE ALGUNA MANERA EN ESTE DIV PERO DESDE LA PAG HOME-->
        </div>
    </div>
</nav>