
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top"
  style="box-shadow: none; opacity: 0.95; border: none; background-image: none"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">S4Schools</a>
    <button
    *ngIf="userData && userData.emailVerified"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <!-- <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link">Schedulers For Schools</a>
        </li>
      </ul> -->
      <ul class="navbar-nav mx-auto"></ul>
      <ul class="navbar-nav mx-3" *ngIf="userData && userData.emailVerified">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{userData.displayName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/menu-principal">Mis Colegios</a></li>
            <li>
              <div class="form-check form-switch ms-2">
                <input class="form-check-input mt-1" (click)="changeTheme()" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Cambiar Tema</label>
              </div></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="" (click)="onLogout()">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

