<!--!INICIO-->
<div class="container col-xxl-8 px-4 py-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light">
    <div class="col-10 col-sm-8 col-lg-6">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              style="max-width: 626px; max-height: 417px"
              src="https://imgur.com/09B9frX.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item">
            <img
              style="max-width: 626px; max-height: 417px"
              src="https://imgur.com/VxEXJtK.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item">
            <img src="https://imgur.com/IK4DSIQ.jpg" class="d-block w-100" />
          </div>
          <div class="carousel-item">
            <img
              style="max-width: 626px; max-height: 417px"
              src="https://imgur.com/xpDFdpA.jpg"
              class="d-block w-100"
            />
          </div>
          <div class="carousel-item">
            <img
              style="max-width: 626px; max-height: 417px"
              src="https://imgur.com/TVKAiJG.jpg"
              class="d-block w-100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Crea un horario para tu instituto ya!
      </h1>
      <p class="lead">
        Comenzá hoy a diseñar tus horarios con nuestro avanzado algoritmo
        preparado para optimizar al máximo tu escuela. Utiliza el botón de
        "EMPEZAR" para comenzar ahora y en el caso de que no te sientas seguro o
        aún tengas algunas dudas, clickea en "MÁS INFO" para saber mas al
        respecto.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          (click)="gotoLogin()"
          class="btn btn-primary btn-lg px-5 me-md-2"
        >
          Empezar
        </button>
        <a
          type="button"
          class="btn btn-light btn-lg px-4 mx-3"
          href="/home#MasInfo"
        >
          Más info
        </a>
        <!-- (click)="functionScrollToDownMoreInfo()" -->
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider" />

<!--!SEPARADOR-->
<div class="container-fuid">
  <div class="col-md-max mx-auto">
    <div class="bg-secondary" style="opacity: 90%">
      <div class="card-body"></div>
    </div>
  </div>
</div>

<!--!HORARIO EJEMPLO-->
<div class="container-fuid bg-light">
  <div class="container marketing" style="text-align: center">
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <h2 class="pb-2 border-bottom">Descarga horario de ejemplo</h2>
      <img
        src="https://imgur.com/8M6eYNs.jpg"
        class="d-block mx-lg-auto img-fluid py-4"
        alt="Bootstrap Themes"
        width="500"
        height="500"
        loading="lazy"
      />
      <p>
        Asi se vera el horario escolar, hecho en nuestra pagina. Si desea crear un
        horario, presione el boton "EMPEZAR".
      </p>
      <div class="mb-5 py-3">
        <button
          type="button"
          (click)="gotoLogin()"
          class="btn btn-primary btn-lg w-100"
        >
          Empezar
        </button>
      </div>
    </div>
  </div>
</div>

<!--!SEPARADOR-->
<div class="container-fuid">
  <div class="col-md-max mx-auto">
    <div class="bg-secondary" style="opacity: 90%">
      <div class="card-body"></div>
    </div>
  </div>
</div>

<!--!COMO FUNCIONA-->
<div class="container-fuid bg-light">
  <div class="container marketing py-5" style="text-align: center">
    <h3 class="pb-2 border-bottom">¿Como Funciona?</h3>
    <div class="row py-5">
      <div class="col-lg-4" style="text-align: center">
        <div class="circulo mx-auto" id="circulo1"></div>
        <h4 class="py-2">INICIA SESION</h4>
        <p>
          INICIA SESION CON TU CUENTA DE GOOGLE O REGISTRATE EN NUESTRA PAGINA
          WEB Y UNETE A UN COLEGIO O CREA EL TUYO
        </p>
      </div>

      <div class="col-lg-4">
        <div class="circulo mx-auto" id="circulo2"></div>
        <h4 class="py-2">CREA TU HORARIO</h4>
        <p>
          INGRESA LOS DATOS DE TU INSTITUTO, RELLENANDO TODOS LOS ESPACIOS EN LA
          GRILLA
        </p>
      </div>

      <div class="col-lg-4">
        <div class="circulo mx-auto" id="circulo3"></div>
        <h4 class="py-2">DESCARGALO</h4>
        <p>
          UNA VEZ HECHO TU HORARIO, PAGA CON TARJETA DE CREDITO O DEBITO,
          DESCARGALO Y LISTO
        </p>
      </div>
    </div>
  </div>
</div>

<!--!SEPARADOR-->
<div class="container-fuid">
  <div class="col-md-max mx-auto">
    <div class="bg-secondary" style="opacity: 90%">
      <div class="card-body"></div>
    </div>
  </div>
</div>

<!--!MAS SOBRE S4S-->
<div class="container-fuid bg-light" id="MasInfo">
  <div class="container px-1 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom" style="text-align: center">Más sobre S4S</h2>

    <div
      class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3"
      style="text-align: center"
    >
      <div class="col">
        <div class="tarjeta-wrap">
          <div
            class="
              d-flex
              flex-column
              h-100
              p-5
              text-white text-shadow-1
              bg-dark
              tarjeta
              card1
            "
          >
            <h2 class="display-6 lh-1 fw-bold adelante">EXTENSION</h2>
            <div class="atras">
              <p class="h-100 text-white text-shadow-1">
                Podras tener hasta 5 usuarios, extendidos de tu cuenta, que
                accederan a la misma informacion ingresada en la grilla
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="tarjeta-wrap">
          <div
            class="
              d-flex
              flex-column
              h-100
              p-5
              text-white text-shadow-1
              bg-dark
              tarjeta
              card2
            "
          >
            <h2 class="display-6 lh-1 fw-bold adelante">GUARDADO</h2>
            <div class="atras">
              <p class="h-100 text-white text-shadow-1">
                Los datos ingresados en los espacios de la grilla, para hacer el
                horario de tu escuela, se guardaran en nuestra base de datos
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="tarjeta-wrap">
          <div
            class="
              d-flex
              flex-column
              h-100
              p-5
              text-white text-shadow-1
              bg-dark
              tarjeta
              card3
            "
          >
            <h2 class="display-6 lh-1 fw-bold adelante">PAGO</h2>
            <div class="atras">
              <p class="h-100 text-white text-shadow-1">
                Una vez ingresados todos los datos en la grilla, si quieres
                finalizar con la creacion de tu horario escolar, deberas pagar
                por el procesamiento utilizado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5" style="text-align: center">
      <h2>Empieza ahora mismo con tan solo un click</h2>
      <button
        type="button"
        (click)="gotoLogin()"
        class="btn btn-primary btn-lg px-5 me-md-2"
      >
        Empezar
      </button>
    </div>
  </div>
</div>

<!--!SEPARADOR-->
<div class="container-fuid">
  <div class="col-md-max mx-auto">
    <div class="bg-secondary" style="opacity: 90%">
      <div class="card-body"></div>
    </div>
  </div>
</div>

<!--!CARACTERISTICAS ALGORITMO-->
<div class="container-fuid bg-light">
  <div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom" style="text-align: center">
      Caracteristicas del Algoritmo
    </h2>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-back px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">GENETICO</h4>
          <p>Mejor solapamiento de cursos</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-calendar3 px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
          />
          <path
            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">GRAN ADAPTABILIDAD</h4>
          <p>Adaptable a todos sus problemas</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-save2 px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">GUARDADO AUTOMATICO</h4>
          <p>Guardado automatico en nuestra Base de Datos</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-speedometer px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"
          />
          <path
            fill-rule="evenodd"
            d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">ALTA VELOCIDAD</h4>
          <p>Procesamiento en altas velocidades</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-award px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"
          />
          <path
            d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">RESULTADOS OPTIMOS</h4>
          <p>Mejores resultados para su horario escolar</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.75em"
          height="1.75em"
          fill="currentColor"
          class="bi bi-cpu px-1"
          viewBox="0 0 16 16"
        >
          <path
            d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"
          />
        </svg>
        <div>
          <h4 class="fw-bold mb-0">EJECUCION 2º PLANO</h4>
          <p>Procesamiento realizado en segundo plano</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--!FLECHA-->
<div
  style="
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 100;
  "
>
  <button
    (click)="functionScrollToUp()"
    id="buttonScrollToUp"
    style="
      -webkit-animation: nod2 3s ease infinite;
      -moz-animation: nod2 3s ease infinite;
      -o-animation: nod2 3s ease infinite;
      animation: nod2 3s ease infinite;
    "
    class="btn btn-primary rounded-circle"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="30"
      fill="currentColor"
      class="bi bi-caret-up-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"
      />
    </svg>
  </button>
</div>

<!--!FOOTER-->
<div class="container-fuid">
  <div class="col-md-max mx-auto">
    <div
      class="bg-dark"
      style="
        box-shadow: none;
        opacity: 0.95;
        border: none;
        background-image: none;
        text-align: center;
      "
    >
      <div class="card-body">
        <span class="text-muted"> Copyright © 2021 The S4S Company </span>
      </div>
    </div>
  </div>
</div>
